<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="saveData()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
              type="text"
              [ngClass]="{'is-invalid': forma.get('nombreCompleto.name').invalid}"
              placeholder="Nombre"
              formControlName="name">
        <div class="invalid-feedback" *ngIf="forma.get('nombreCompleto.name').errors?.required">
          Este campo es requerido.
        </div>
        <div class="invalid-feedback" *ngIf="forma.get('nombreCompleto.name').errors?.minlength">
          Este campo posee minimo 3 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="lastName">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             formControlName="username">
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             formControlName="password1">
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">Password2</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             formControlName="password2">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">

      <input class="form-control"
              *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
              type="text"
              [formControlName]="i">
    </div>

    <button class="btn btn-primary" type="button" (click)="newPasatiempos()">Nuevo</button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>