<h4>Formularios <small>template</small></h4>
<hr>
<form #forma="ngForm" novalidate (ngSubmit)="guardar(forma)">

  <div>

    <div class="form-group row has-danger">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
          [ngClass]="{'is-invalid': (name.errors?.required || name.errors?.minlength) && name.touched}"
          type="text"
          [(ngModel)]="usuario.name"
          name="name"
          placeholder="Nombre"
          minlength="5"
          required
          #name="ngModel">
        <div *ngIf="name.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
        <div *ngIf="name.errors?.minlength" class="invalid-feedback">
          Por lo menos 5 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
          [ngClass]="{'is-invalid': lastName.errors?.required && lastName.touched}"
          type="text"
          [(ngModel)]="usuario.lastName"
          name="lastName"
          placeholder="Apellido"
          required
          #lastName="ngModel">
        <div *ngIf="lastName.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
        [ngClass]="{'is-invalid': (email.errors?.required ||email.errors?.pattern) && email.touched}"
        type="email"
        [(ngModel)]="usuario.email"
        name="email" 
        placeholder="Correo electrónico"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        #email="ngModel">
      <div *ngIf="email.errors?.required" class="invalid-feedback">
        Este campo es requerido.
      </div>
      <div *ngIf="email.errors?.pattern" class="invalid-feedback">
        Formato de correo no valido.
      </div>
    </div>
  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select class="form-control" name="country" [(ngModel)]="usuario.country">
        <option value="">Seleccione un pais</option>
        <option [value]="country.code" *ngFor="let country of countries">{{ country.name }}</option>
      </select>
    </div>
  </div>

  <!-- <div class="form-group row has-danger">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">
      <div class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="usuario.sexo" value="hombre" type="radio" name="sexo" class="custom-control-input">
        <label class="custom-control-label" for="sexo">Hombre</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="usuario.sexo" value="mujer" type="radio" name="sexo" class="custom-control-input">
        <label class="custom-control-label" for="sexo">Mujer</label>
      </div>
    </div>
  </div> -->

  <div class="form-group row has-danger ">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">
      <div *ngFor="let sex of sexs" class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="usuario.sexo" [value]="sex.value" type="radio" name="sexo" class="custom-control-input">
        <label class="custom-control-label" for="sexo">{{ sex.name }}</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>{{ usuario | json}}</pre>
